{% extends 'base.html.twig' %}
{% block title %}les oeuvres{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mx-3 animated position-absolute fade show alert-dismissible" data-bs-dismiss="alert" role="alert" style="z-index: 1; left: 50%;top: 7%;transform: translate(-50%);">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger mx-3 animated flipInX position-absolute fade show alert-dismissible" data-bs-dismiss="alert" role="alert" style="z-index: 1; left: 46%; transform: translateY(-50%);">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="container mt-5 position-relative">
        <div class="card-text d-flex flex-column gap-3 mb-4 position-sticky">
            <h1 class="text-dark col">
                {{ gallery.name }}
            </h1>
            <p class="card-text col">
              {{ gallery.description }}
            </p>
            {% if gallery.user == app.user %}
                <a href="{{ path('app_gallery_add_art', {'id': gallery.id}) }}" class="btn btn-secondary">
                    Ajouter une oeuvre
                </a>
            {% endif %}
        </div>
        <div class="d-flex flex-row gap-2" style="max-height: 50% !important;">
            {% for g in listOfArts %}
                {% if g.gallery.id == gallery.id %}
                    <div class="card mb-4 gap-3 mb-4 mt-4 p-3 col-md-8 col-lg-6" style="max-height: 100vh !important;">
                        <div class="mb-3 align-self-center">
                            <img src="{{ asset('uploads/images/' ~ g.image) }}" alt="image de l'oeuvre {{ g.name }}" class="img-fluid w-auto mw-100" style="width: 250px; height:300px">
                        </div>
                        <div class="d-flex justify-content-between flex-column">
                            <div class="{% if gallery.user == app.user %}col-12 col-md-6{% endif %} d-flex flex-row justify-content-between">
                                <div class="col-12">
                                    <h2 class="text-dark">
                                        {{ g.name }}
                                    </h2>
                                    <p class="text-dark mt-3">
                                        {{ g.description }}
                                    </p>
                                </div>
                                {% if gallery.user == app.user %}
                                    <div class="d-flex flex-column container-sm gap-3 align-items-center col-12">
                                        <a href="{{ path('app_gallery_editart', {'galleryItem_id': g.id, 'gallery_id': gallery.id}) }}" class="btn btn-warning col-9">
                                            Modifier l'oeuvre
                                        </a>
                                        <a href="{{ path('app_gallery_delete_art', {'galleryItem_id': g.id, 'gallery_id': gallery.id}) }}" class="btn btn-danger col-9">
                                            Supprimer l'oeuvre
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card shadow-0 border" style="background-color: #f0f2f5;overflow: hidden;overflow-y: scroll !important;max-height: 40vh !important;">
                                <div class="card-body p-4" style="max-height: 35vh !important;">
                                    <div class="form-outline mb-4">
                                        {% set form = commentForm.createView %}
                                        {{ form_start(form) }}
                                        {{ form_widget(form.comment) }}
                                        {% for c in commentForm.createView.children.galleryItemId.vars.choices %}
                                            {% if g.id == c.value %}
                                                {{ form_widget(form.galleryItemId, {'value': c.value}) }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ form_end(form) }}
                                    </div>
                                    {% for comment in comments %}
                                        {% if comment.galleryItemId == g %}
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <p>{{ comment.comment }}</p>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <p class="small mb-0 ms-2">{{ comment.user.userIdentifier }}</p>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <p class="small text-muted mb-0">{{ comment.createdAt|date('d/m/Y') }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn btn-group">
                                                    {% if comment.user == app.user %}
                                                        <a href="{{ path('app_gallery_delete_comment', {'comment_id': comment.id, 'galleryItem_id': g.id, 'gallery_id': gallery.id}) }}" class="btn btn-danger col-9">
                                                            Supprimer
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
