{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="text-dark mb-4 mt-4 text-center">Vos différentes g'Artlery</h1>
        <div class="row gap-3 card mb-5"></div>
        <a href="{{ path('app_gallery_add') }}" class="btn btn-secondary mb-5">
            Ajouter une nouvelle galerie
        </a>
        {% for g in galleries %}
            {% if g.user == app.user %}
                <div class="row gap-3 card">
                    <div class="row mb-4 mt-4">
                        <div class="col-md-6 align-self-center">
                            <img src="{{ asset('uploads/images/' ~ g.image) }}" alt="image de la gallerie {{ g.name }}" class="img-fluid card-img">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body d-flex justify-content-around flex-column align-items-start">
                                <div class="row d-flex flex-column">
                                    <div>
                                        <h2 class="text-dark">{{ g.name }}</h2>
                                        <p class="text-dark">{{ g.description }}</p>
                                    </div>
                                    <p class="datetime-widget">
                                        Publier le {{ g.createdAt|date('d/m/Y') }}
                                    </p>
                                </div>
                                <div class="btn-group">
                                    <a href="{{ path('app_gallery_show', {'id': g.id}) }}" class="btn btn-primary">Voir la g'Artllery</a>
                                    <a href="{{ path('app_gallery_edit', {'id': g.id}) }}" class="btn btn-warning">Modifier la g'Artllery</a>
                                    <a href="{{ path('app_gallery_delete', {'id': g.id}) }}" class="btn btn-danger">Supprimer la g'Artllery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
