{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="text-dark mb-4 mt-4 text-center">Vos différentes g'Artlery</h1>
        <a href="{{ path('app_gallery_add') }}" class="btn btn-secondary mb-5">
            Ajouter une nouvelle galerie
        </a>
        <div class="row gap-3">
            {% for g in galleries %}
                {% if g.user == app.user %}
                    <div class="row mb-4">
                        <div class="col-12 col-md-6 align-self-center">
                            <img src="{{ asset('uploads/images/' ~ g.image) }}" alt="image de la gallerie {{ g.name }}" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="text-dark">{{ g.name }}</h2>
                            <p class="text-dark">{{ g.description }}</p>
                            <a href="{{ path('app_gallery_show', {'id': g.id}) }}" class="btn btn-primary">Voir la g'Artllery</a>
                            <a href="{{ path('app_gallery_edit', {'id': g.id}) }}" class="btn btn-warning">Modifier la g'Artllery</a>
                            <a href="{{ path('app_gallery_delete', {'id': g.id}) }}" class="btn btn-danger">Supprimer la g'Artllery</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
