{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-dark mb-4">Vos différentes g'Artlery</h1>
        <a href="{{ path('app_gallery_add') }}" class="btn btn-secondary">
            Ajouter une nouvelle galerie
        </a>
        <div class="row">
            {% for g in galleries %}
                {% if g.user == app.user %}
                    <div class="card mb-3 col">
                        <a href="{{ path('app_gallery_show', {'id': g.id}) }}">
                            <h3 class="card-header">{{ g.name }}</h3>
                            <img src="https://picsum.photos/200/300" class="img-fluid" alt="image de la gallerie {{ g.name }}">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ g.description }}
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </a>
                    </div>
                    {#{{ asset(g.image) }}
                    <article class="card" style="width: 18rem;">
                        <a href="{{ path('app_gallery_show', {'id': g.id}) }}">
                            <img src="https://picsum.photos/500/500" class="card-img-top" alt="image de la gallerie {{ g.name }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ g.name }}
                                </h5>
                                <p class="card-text">
                                    {{ g.description }}
                                </p>
                            </div>
                        </a>
                    </article>#}
                    {#<li class="row mb-4">
                        <div class="col-12 col-md-6">
                            <img src="{{ asset(g.image) }}" alt="image de la gallerie {{ g.name }}" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="text-dark">{{ g.name }}</h2>
                            <p class="text-dark">{{ g.description }}</p>
                            <a href="{{ path('app_gallery_show', {'id': g.id}) }}" class="btn btn-primary">Voir la g'Artllery</a>
                            <a href="{{ path('app_gallery_edit', {'id': g.id}) }}" class="btn btn-warning">Modifier la g'Artllery</a>
                            <a href="{{ path('app_gallery_delete', {'id': g.id}) }}" class="btn btn-danger">Supprimer la g'Artllery</a>
                        </div>
                    </li>#}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
